.color {
    border: 4px solid brown;
}

ul {
    list-style-type: none;
}

a {
    text-decoration-line: none;
}

.hash > ul > li {
    float: right;
    background-color: blue;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0 10px;
}