a {
    display: inline-block;
    text-decoration: none;
    padding: 20;
    border-radius: 5px;

    color: black;
}

a:link, a :visited {
    color: black;
}
a:hover {

    color: red;
    background-color: green;
}
a:active {
    color: yellow;
    background-color: blue;
}
.unordered_list_mark{
    list-style-image: url(../css/img/pencil\ \(1\).png);
    list-style-position: outside;
}

.ordered_list_mark{
    list-style-type: lower-alpha;
    list-style-position: inside;
}

li {
    background-color: olive;
}